<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Lesson3</title>
</head>
<body>
<h1></h1>

<script >
    redSquare.onclick= function (e) {
        console.log(e.target.style.width)
            if (e.target.style.width){
                e.target.style.width= ""
                e.target.style.height= ""
                return
        }
        e.target.style.width= "300px"
        e.target.style.height="300px"
    }


</script>
</body>
</html>