<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesson2</title>
</head>
<body>
<h1>Lesson2</h1>

<ul class="firstUL">
    <li>Приветик</li>
    <li>1</li>
    <li id="firstLI">2</li>
    <li>3</li>
    <li>4</li>
    <li class="liClass">5</li>
    <li class="liClass">6</li>
</ul>
<!--Весь код HTML здесь,
 так как до выполнения скрипта надо подгрузит все элементы взаимодействия-->
<script src="scripts/script.js"></script>

<script>
    //document.body.style="background:green;"
    //функция смены фона на красный через 5000 мсек
 //   setTimeout(function (){document.body.style="background:red;"}, 5000)
</script>
</body>
</html>
